.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.null {
  padding: 5px;
}

.italic {
  text-align: center;
  font-style: italic;
}

ul, li {
  padding-bottom: 8px;  
}

ul.nav-item, li.nav-item {
  padding-bottom: 0px;
}

h2 {
  padding-bottom: 8px;
}